<configuration>
  <configSections>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
  </configSections>
  <appSettings>
    <add key="webPages:Enabled" value="false" />
  </appSettings>
  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add assembly="Nancy.Validation.DataAnnotations" />
      <add assembly="Nancy" />
      <add assembly="Cassette" />
      <add assembly="Cassette.Nancy" />
      <add assembly="System.Configuration" />
    </assemblies>
    <namespaces>
      <add namespace="Nancy.Validation" />
      <add namespace="Cassette.Nancy" />
      <add namespace="System.Globalization" />
      <add namespace="System.Collections.Generic" />
      <add namespace="System.Linq" />
      <add namespace="System.Configuration" />
    </namespaces>
  </razor>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders>
    </compilation>
  </system.web>
</configuration>