@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<kernetics.messenger.model.ViewModel.ViewBase<kernetics.messenger.model.ViewModel.StartContent>>

@{
    Layout = "_Layout.cshtml";
}

<h2>Home</h2>
<div>Start</div>

<ul>
@foreach (var member in Model.Content.Members) {
    <li>@member.Id @member.Email</li>
}
</ul>
